body.dark {
  --header-bg: #2b2d31;
  --burger-bg: #35393f;
  --orange: #e46643;
  --orange-hover: #f39765;
  --sidebar-bg: #1d1f22;
  --heading-color: #7c8187;
  --text-color: #fff;
  --main-bg-color: #151619;
  --second-bg-color: #1d1f22;
  --border-color: #5a6069;
  // Editor
  --editor-h-color: #fff;
  --editor-text-color: #c1c4cb;
  --editor-code-color: #2b2d31;
  --editor-blockquote-color: #2b2d31;
  --editor-heading-color: #c1c4cb;
  // Modal
  --modal-layout-bg: rgba(255, 255, 255, 0.3);
  --modal-body-bg: #1d1f22;
  --modal-h-color: #fff;
  --modal-text-color: #c1c4cb;
}
