.button {
  display: flex;
  align-items: center;
  gap: 10px;
  background: var(--orange);
  border-radius: 4px;
  padding: 10px 16px;
  font-family: var(--font-family-2);
  font-size: clamp(14px, 1.4vw, 15px);
  color: var(--100);
  cursor: pointer;
  transition: background 0.3s ease-in;
  &:hover {
    background: var(--orange-hover);
  }
}
